@import "tailwindcss";
@plugin "daisyui" {
  themes: black --default, light --prefersdark;
}

@custom-variant dark (&:where([data-theme=black], [data-theme=black] *));

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html,
body,
[data-theme] {
  transition: background-color 0.3s ease, color 0.3s ease;
}
